<a href="<%= static_index_path %>" class="top__logo logo"><%= image_tag("logo.svg")%></a>
<nav class ="top__navigation navigation">
  <ul class ="top__navigation__list">
    <% if user_signed_in? %>
      <li class ="top__navigation__list__link top__navigation__list__link--active"><%= link_to 'Home',static_index_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Contact',static_contact_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'FAQ',static_faq_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Legal',static_legal_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class ="top__navigation__list__link top__navigation__list__link--active"><%= link_to 'Home',static_index_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Contact',static_contact_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'FAQ',static_faq_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Legal',static_legal_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Login', new_user_session_path %></li>
      <li class ="top__navigation__list__link"><%= link_to 'Register', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
